<header>
  <h1 class="text-center">Movie List</h1>
</header>

<div class="container">
  <%- include("./partials/messages.ejs") %>

  <form action="/search">
    <input type="text" name="name" class="form-control" placeholder="Search" required>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <div class="col-lg-7 d-flex flex-row mt-5">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Date Range:</span>
    </div>
    <div class="input-group px-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">From</span>
      </div>
      <input type="text" class="form-control">
    </div>
    
    <div class="input-group px-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">To</span>
      </div>
      <input type="text" class="form-control ">
    </div>
    <a href="/create" class="btn btn-dark">Create</a>

  </div>
  

  <div class="row my-4">
    <div class="col-lg-12 ">
      <div class="table-responsive">
        <table class="table table-stripped text-center">
          <thead>
            <tr class="table-dark">
              <th scope="col">Movie Name</th>
              <th scope="col">Year</th>
              <th scope="col">Rating</th>
              <th scope="col">Genre</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          <% if (movies.length > 0) { %>
            <% movies.forEach(movie => { %>
              <tr class="">
                <td><%= movie.name %></td>
                <td><%= movie.year %></td>
                <td><%= movie.rating %></td>
                <td><%= movie.genre %></td>
                <td>
                  <a href="/<%= movie.id %>" class="btn btn-secondary">View</a>
                  <a href="/edit/<%= movie.id %>" class="btn btn-secondary">Edit</a>
                </td>

              </tr>
            <% }) %>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>